version: "3.8"

services:
  backend:
    build:
      context: ./project-backend
      dockerfile: Dockerfile
    container_name: spring-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: true
      CORS_ALLOWED_ORIGINS: http://localhost,http://localhost:80
    network_mode: bridge

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: angular_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    environment:
      BACKEND_URL: http://backend:8080
    network_mode: bridge
